---
import type { Product } from "../assets/example";

const { featured } = Astro.props;
const repeated: Product[] = [];

for (let i = 0; i < 2; i++) {
  repeated.push(...featured);
}
---

<div transition:name='imagen' class="grid grid-cols-4 gap-4 mt-20   ">
  {repeated.map((item: Product) => (
    <div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow"  >
        <a href={`/${item.categoryId}/${item.id}`} class="text-blue-600 hover:underline">
           <img src={item.image}     alt={item.title} class="w-full h-32 object-cover rounded mb-2" />
      <h2 class="text-lg font-semibold">{item.title}</h2>
      <p  class="text-gray-600 text-sm">{item.description}</p>
        </a>
    </div>
  ))}
</div>
